body{
    background:white;
    color:#333;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    transition:.4s;
}

/* Navbar */
.navbar{
    background:transparent !important;
    padding:20px 0;
}

.navbar-brand{
    font-size:28px;
    font-weight:bold;
}

.nav-link{
    color:white !important;
    margin-left:15px;
}


/* Marca del portafolio */
.navbar-brand{
    color:#333 !important;
}

/* Secciones */
section{
    min-height: 100vh;
    align-items:center;
    display:flex;
    padding:100px 0;
}

/* Inicio */
#inicio{
    min-height:100vh;
    display:flex;
    align-items:center;
}

/*Imagen*/
.foto-perfil{
    width:320px;
    height:320px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #4d7dff;
    box-shadow:0 0 30px rgba(1, 2, 7, 0.6);
}

.nombre{
    color:#8ab4ff;
    font-size:60px;
    font-weight:bold;
}

.descripcion{
    color:#333;
    font-size:20px;
    margin-top:20px;
    line-height:1.7;
}

/* Tarjetas */
.card{
    border:none;
    border-radius:20px;
    box-shadow:0 10px 20px rgba(0,0,0,.2);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

html{
    scroll-behavior:smooth;
}

.navbar{
    background:rgba(255,255,255,.7) !important;
    backdrop-filter:blur(10px);
    transition:.3s;
}
/*Espacio entre secciones*/
#sobre-mi,
#habilidades,
#proyectos,
#contacto{
    min-height:100vh;
    display:flex;
    align-items:center;
}

/* ===== MODO CLARO ===== */

.navbar{
    background:rgba(255,255,255,.7) !important;
    backdrop-filter:blur(10px);
}

.navbar-brand{
    color:#333 !important;
}

.nav-link{
    color:#333 !important;
    margin-left:15px;
}

.nav-link:hover{
    color:#234da8 !important;
}


/* ===== MODO OSCURO ===== */

.dark-mode{
    background:#121212;
    color:white;
}


.dark-mode .navbar{
    background:black !important;
}


.dark-mode .navbar-brand{
    color:white !important;
}


.dark-mode .nav-link{
    color:white !important;
}


.dark-mode .nav-link:hover{
    color:#8ab4ff !important;
}


.dark-mode .card{
    background:#1f1f1f;
    color:white;
}


.dark-mode h2,
.dark-mode p{
    color:white;
}

@media(max-width:768px){

    .nombre{
        font-size:40px;
        text-align:center;
    }

    .descripcion{
        text-align:center;
        font-size:18px;
    }

    .foto-perfil{
        width:220px;
        height:220px;
        margin-bottom:30px;
    }

}